.table-responsive{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.orange{
    background-color: #ED7802;
    color: white;
    &:hover{
        background-color: #ce6700;
        color: white;
    }
}

.width-92{
    width: 92px;
}

.gold{
    display: inline-block;
    color: #ffd700;
    background-color: #141155;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
}